@using CustomerSupportSystem.DTOs
@using CustomerSupportSystem.Enums
@model TicketDto
@{
    ViewData["Title"] = "Edit Ticket";
}

<div class="text-center">
    <h1 class="display-4">Edit Ticket</h1>
</div>

<form asp-controller="Ticket" asp-action="Edit" method="post">
    <div class="form-group">
        <label for="title" class="form-label">Title</label>
        <input type="text" asp-for="Title" class="form-control" placeholder="Entry the title">
        @Html.ValidationMessageFor(x => x.Title) <!-- Error message -->
    </div>
    <br />

    <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" placeholder="Enter the description">
        @Html.ValidationMessageFor(x => x.Description) <!-- Error message -->
    </div>
    <br />

    <div class="form-group">
        <label for="status" class="form-label">Status</label>
        <select asp-for="Status" class="form-control">
            <option value="">Select status</option>
            @foreach (var status in Enum.GetValues(typeof(StatusEnum)))
            {
                <option value="@status">@status</option>
            }
        </select>
        @Html.ValidationMessageFor(x => x.Status) <!-- Error message -->
    </div>
    <br />

    <div class="form-group">
        <label for="category" class="form-label">Category</label>
        <select asp-for="Category" class="form-control">
            <option value="">Select category</option>
            @foreach (var cat in Enum.GetValues(typeof(CategoryEnum)))
            {
                <option value="@cat">@cat</option>
            }
        </select>
        @Html.ValidationMessageFor(x => x.Category) <!-- Error message -->
    </div>
    <br />

    <div class="form-group">
        <label for="priority" class="form-label">Priority</label>
        <select asp-for="Priority" class="form-control">
            <option value="">Select priority</option>
            @foreach (var pri in Enum.GetValues(typeof(PriorityEnum)))
            {
                <option value="@pri">@pri</option>
            }
        </select>
        @Html.ValidationMessageFor(x => x.Priority) <!-- Error message -->
    </div>
    <br />

    <!-- Update and Remove button -->
    <button type="submit" class="btn btn-primary btn-block">Update</button>
    <a class="btn btn-secondary btn-block" asp-controller="Ticket" asp-action="Index" role="button">Return</a>
</form>