@using ClientSupportSystem.DTOs
@using ClientSupportSystem.Enums
@model UserDto
@{
    ViewData["Title"] = "Edit User";
}

<div class="text-center">
    <h1 class="display-4">Edit User</h1>
</div>

<form asp-controller="User" asp-action="Edit" method="post">

    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Entry the name">
        @Html.ValidationMessageFor(x => x.Name) <!-- Error message -->
    </div>
    <br />

    <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Entry the email">
        @Html.ValidationMessageFor(x => x.Email) <!-- Error message -->
    </div>
    <br />

    <div>
        <label for="role" class="form-label">Role</label>
        <select asp-for="Role" class="form-control">
            <option value="">Select Role</option>
            @foreach (var role in Enum.GetValues(typeof(RoleEnum)))
            {
            <option value="@role">@role</option>
            }

        </select>
        @Html.ValidationMessageFor(x => x.Role) <!-- Error message -->
    </div>
    <br />

    <!-- Update and Remove button -->
    <button type="submit" class="btn btn-primary btn-block">Update</button>
    <a class="btn btn-secondary btn-clock" asp-controller="User" asp-action="Index" role="button">Return</a>

</form>