@using ClientSupportSystem.Enums
@model List<UserModel>
@{
    ViewData["Title"] = "Registered Users";
}



<div class="text-center">

    <!-- Add user button -->
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="User" asp-action="Create">Register new user</a>
    </div>
    <br />

    <!-- Alerts -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["ErrorMessage"]
        </div>
    }
    <br />

    <h1 class="display-4">User List</h1>

    <!-- Table -->
    <table class="table" id="users-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Created At</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <!-- Show all users registereds -->
            @if (Model != null && Model.Any())
            {
                foreach (UserModel user in Model)
                {
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@Enum.GetName(typeof(RoleEnum), @user.Role)</td>
                        <td>@user.CreatedAt</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@user.Id" asp-controller="User" asp-action="Edit">Edit</a>
                                <a role="button" class="btn btn-secondary" asp-route-id="@user.Id" asp-controller="User" asp-action="DeleteConfirm">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valing="top" colspan="5">No users registered</td></tr>
            }

        </tbody>

    </table>

</div>
